/* Configuración General */
body {
    font-family: sans-serif;
    background-color: #fef9e7;
    color: #0A0A0A;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

/* Encabezado */
header {
    background-color: #f7dc6f;
    color: white;
    padding: 20px;
    text-align: center;
}

/* imagenkaka.jpg */
img {
    border-radius: 50%;
    border: 5px solid #FEFAE0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: block;
    margin: 20px auto;
}

/* Secciones */
section {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}

/* Formulario */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.grupo-entrada {
    display: flex;
    flex-direction: column;
}

.grupo-entrada label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #b7950b;
}

.grupo-entrada input,
.grupo-entrada textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.boton-enviar {
    background-color: #f4d03f;
    color: #5c4b00;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.boton-enviar:hover {
    background-color: #d4ac0d;
}

/* Menú Superior */
.menu-superior {
    background-color: #f8e287;
    padding: 19px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 100%;
    border-bottom: 5px solid #d4ac0d;
}

.contenedor-menu {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.contactanos {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.enlaces {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.enlaces a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.enlaces a:hover {
    color: #7d6608;
}

/* Botón carrito */
.boton-carrito {
    background-color: #d4ac0d;
    padding: 8px 18px;
    border-radius: 25px;
    border: 2px solid white;
}
